{% extends "header.html" %}

{% block title %}Company Overview - TED{% endblock %}

{% block content %}

<style>

  table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

  
     /*body{ background:#ADD8E6
}

        
        .tab2{
     position: absolute;
     left: 500px;
     top: 20px;
     color:red;
   }

        h2 {
            background-image: url('./static/image2.png');
            background-repeat: no-repeat;
            background-size: 15%;
            background-position-x: left;
            text-align: left;
      color:red;
            padding: 8%;

        }

        .r {
            max-width: 400px;
            background: blanchedalmond;
            margin: auto;
        }

        button[type=submit] {
            background: black;
            color:white;

            padding: 8px;
        }

        button[type=button] {
            background: red;
            padding: 8px;
        }
        
        
        table {
  border-collapse: collapse;
  width: 80%;
  align="left";
}
.tabcontent{
     width: 60%;
     tabcontentbackground-color: #f1f1f1;
     position: absolute;
     left: 200px;
     top: 140px;
}
th, td {
  text-align: center;
  padding: 6px;
  
  
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}*/
</style>

{% include "navbar.html" %}

<form method="post">
            <select name="dropdown" onchange="this.form.submit()">
                <option value="All">All</option>
                <option value="Nifty">Nifty</option>
                <option value="BankNifty">Bank Nifty</option>
            </select>
        </form>
<table class="styled-table">
      <thead>
        <tr>
          <th>Datetime</th>
          <th>Stock</th>
          <th>Strike Price</th>
          <th>Call Majority</th>
          <th>Put Majority</th>
          <th>Call Value</th>
          <th>Put Value</th>
          <th>PCR Ratio</th>
          <th>Future Volume</th>
          <th>Call Traded Volume</th>
          <th>Put Traded Volume</th>
          
          <th>Future Volume Rank</th>
          <th>Call Volume Rank</th>
          <th>Put Volume Rank</th>

          

        </tr>
      </thead>
      <tbody>
        {% for row in value %} 
          <tr>
            <td>{{row.Datetime}}</td>
            <td>{{row.Stock}}</td>
            <td>{{row.Strike_Price}}</td>
            <td>{{row.Call_Majority}}</td>
            <td>{{row.Put_Majority}}</td>
            <td>{{row.call_value}}</td>
            <td>{{row.put_value}}</td>
            <td>{{row.pcr_ratio}}</td>
            <td>{{row.future_volume}}</td>
            <td>{{row.call_traded_volume}}</td>
            <td>{{row.put_traded_volume}}</td>
            
            <td>{{row.fut_volume_rnk}}</td>
            <td>{{row.call_volume_rank}}</td>
            <td>{{row.put_volume_rank}}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

 {% block footer %}{% endblock %}