{% extends "header.html" %}

{% block title %}Company Overview - TED{% endblock %}

{% block content %}

<html>
  <head>
    <title>Data Table</title>
  </head>
  <body>

    {% include "navbar.html" %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <style>
        /* styling for the table */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }


    </style>




    <div>
      <form>
        <label for="select-option">Select an option:</label>
        <select id="data-select" onchange="refreshTable()">
            <option value="All">All</option>
            <option value="J95213">J95213</option>
            <option value="M591295">M591295</option>
        </select>
        <input type="date" id="start-date" onchange="refreshTable()">
      </form>
    </div>


    <div class="container">
      <div class="metric">
        <h3>Total number of records found in Final Position Data:</h3>
        <p>{{ metrics.num_final_position_data }}</p>
      </div>
      <div class="metric">
        <h3>Total number of records found in Final Open Data:</h3>
        <p>{{ metrics.num_final_open_data }}</p>
      </div>
      <div class="metric">
        <h3>Total number of records found in Final Stoploss Data:</h3>
        <p>{{ metrics.num_final_stoploss_data }}</p>
      </div>
      <div class="metric">
        <h3>Total number of completed orders:</h3>
        <p>{{ metrics.num_completed_orders }}</p>
      </div>
      <div class="metric">
        <h3>Total profit and loss from completed orders:</h3>
        <p>{{ metrics.total_completed_orders_profit_loss }}</p>
      </div>
      <div class="metric">
        <h3>Total number of closed positions:</h3>
        <p>{{ metrics.num_closed_positions }}</p>
      </div>
      <div class="metric">
        <h3>Total profit and loss from closed positions:</h3>
        <p>{{ metrics.total_closed_positions_profit_loss }}</p>
      </div>
      <div class="metric">
        <h3>Average lot size of completed orders:</h3>
        <p>{{ metrics.avg_completed_orders_lot_size }}</p>
      </div>
      <div class="metric">
        <h3>Average lot size of closed positions:</h3>
        <p>{{ metrics.avg_closed_positions_lot_size }}</p>
      </div>
      <div class="metric">
        <h3>Total number of unique clients:</h3>
        <p>{{ metrics.unique_clients }}</p>
      </div>
      <!-- <div class="visual">
        <h3>Bar chart showing the number of completed orders for each trading symbol:</h3>
        <div id="completed-orders-bar-chart"></div>
        <script>
          var completedOrdersBarChart = {
            {
              visuals.completed_orders_bar_chart.to_json()
            }
          };
          Plotly.newPlot("completed-orders-bar-chart", completedOrdersBarChart.data, completedOrdersBarChart.layout);
        </script>
      </div>
      <div class="visual">
        <h3>Bar chart showing the number of closed positions for each trading symbol:</h3>
        <div id="closed-positions-bar-chart"></div>
        <div>
        <h2> Final Position Data </h2>
        </div>
    </div> -->
    </div>
    <table id="final_position_data-data-table">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Trading Symbol</th>
            <th>Product Type</th>
            <th>Net Qty</th>
            <th>Lot Size</th>
            <th>Net Price</th>
            <th>Profit & Loss</th>
            <th>Last Trade Price</th>
            <th>Close</th>
        </tr>
    </thead>
    <tbody id="final_position_data-table-body">
        <!-- Data rows will be added here -->
    </tbody>
    </table>
    <br/>
    <br/>
    <div>
    <h2> Final Open Data </h2>
    </div>
    <table id="final_open_data-data-table">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Trading Symbol</th>
            <th>Product Type</th>
            <th>Price</th>
            <th>Transaction Type</th>
            <th>Quantity</th>
            <th>Lot Size</th>
            <th>Symbol Token</th>
            <th>Instrument Type</th>
            <th>Order Id</th>
        </tr>
    </thead>
    <tbody id="final_open_data-table-body">
        <!-- Data rows will be added here -->
    </tbody>
    </table>
    <br/>
    <br/>
    <div>
    <h2> Final Stoploss Data </h2>
    </div>
    <table id="final_stoploss_data-data-table">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Trading Symbol</th>
            <th>Product Type</th>
            <th>Price</th>
            <th>Transaction Type</th>
            <th>Quantity</th>
            <th>Lot Size</th>
            <th>Symbol Token</th>
            <th>Instrument Type</th>
            <th>Order Id</th>
        </tr>
    </thead>
    <tbody id="final_stoploss_data-table-body">
        <!-- Data rows will be added here -->
    </tbody>
    </table>
    <br/>
    <br/>
    <div>
    <h2> Final Completed Data </h2>
    </div>
    <table id="final_completed_orders-data-table">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Trading Symbol</th>
            <th>Product Type</th>
            <th>Price</th>
            <th>Transaction Type</th>
            <th>Quantity</th>
            <th>Lot Size</th>
            <th>Symbol Token</th>
            <th>Instrument Type</th>
            <th>Order Id</th>
        </tr>
    </thead>
    <tbody id="final_completed_orders-table-body">
        <!-- Data rows will be added here -->
    </tbody>
    </table>
    <br/>
    <br/>
    <div>
    <h2> Final Closed Data </h2>
    </div>
    <table id="final_closed_positions-data-table">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Trading Symbol</th>
            <th>Product Type</th>
            <th>Net Qty</th>
            <th>Lot Size</th>
            <th>Net Price</th>
            <th>Profit & Loss</th>
            <th>Last Trade Price</th>
            <th>Close</th>
        </tr>
    </thead>
    <tbody id="final_closed_positions-table-body">
        <!-- Data rows will be added here -->
    </tbody>
    </table>
    <br/>
    <br/>
    <script>

        window.onload = function() {
            document.getElementById("start-date").value = '{{ current_date }}';
        }


      function refreshTable() {
    // Get the selected data
    var selectedClient = document.getElementById("data-select").value;
    var selectedDate = document.getElementById("start-date").value;

    // Make an HTTP request to the Flask app to get the selected data
    fetch('/get_data', {
        method: 'POST',
        body: JSON.stringify({'selectedClient': selectedClient,"selectedDate":selectedDate}),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(data) {
        debugger;
        console.log(data)
        // Clear the existing data in the table
        var table1 = document.getElementById("final_position_data-data-table");
        var table2 = document.getElementById("final_open_data-data-table");
        var table3 = document.getElementById("final_stoploss_data-data-table");
        var table4 = document.getElementById("final_completed_orders-data-table");
        var table5 = document.getElementById("final_closed_positions-data-table");

        while (table1.rows.length > 1) {
            table1.deleteRow(1);
        }
        while (table2.rows.length > 1) {
            table2.deleteRow(1);
        }
        while (table3.rows.length > 1) {
            table3.deleteRow(1);
        }
        while (table4.rows.length > 1) {
            table4.deleteRow(1);
        }
        while (table5.rows.length > 1) {
            table5.deleteRow(1);
        }

        if (typeof data['final_position_data']['Client_id'] !== 'undefined') {

            if(Object.keys(data['final_position_data']['Client_id']).length !== 0){
                // Add the new data to the table
                for (var i = 0; i < Object.keys(data['final_position_data']['Client_id']).length; i++) {
                    var row = table1.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    var cell7 = row.insertCell(6);
                    var cell8 = row.insertCell(7);
                    var cell9 = row.insertCell(8);
                    cell1.innerHTML = data['final_position_data']['Client_id'][i];
                    cell2.innerHTML = data['final_position_data']['tradingsymbol'][i];
                    cell3.innerHTML = data['final_position_data']['producttype'][i];
                    cell4.innerHTML = data['final_position_data']['netqty'][i];
                    cell5.innerHTML = data['final_position_data']['lotsize'][i];
                    cell6.innerHTML = data['final_position_data']['netprice'][i];
                    cell7.innerHTML = data['final_position_data']['pnl'][i];
                    cell8.innerHTML = data['final_position_data']['ltp'][i];
                    cell9.innerHTML = data['final_position_data']['close'][i];
                }
            }else{
                var tableBody = document.getElementById("final_position_data-table-body");
                  var row = document.createElement("tr");
                  var cell = document.createElement("td");
                  cell.colSpan = 9;
                  cell.innerHTML = "No records found";
                  row.appendChild(cell);
                  row.style.textAlign = "center";
                  tableBody.appendChild(row);
            }
            
        }else{
              var tableBody = document.getElementById("final_position_data-table-body");
              var row = document.createElement("tr");
              var cell = document.createElement("td");
              cell.colSpan = 9;
              cell.innerHTML = "No records found";
              row.appendChild(cell);
              row.style.textAlign = "center";
              tableBody.appendChild(row);
        }

        if (typeof data['final_open_data']['Client_id'] !== 'undefined'){

            if(Object.keys(data['final_open_data']['Client_id']).length !== 0){
                // Add the new data to the table
                for (var i = 0; i < Object.keys(data['final_open_data']['Client_id']).length; i++) {
                    var row = table2.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    var cell7 = row.insertCell(6);
                    var cell8 = row.insertCell(7);
                    var cell9 = row.insertCell(8);
                    var cell10 = row.insertCell(9);
                    cell1.innerHTML = data['final_open_data']['Client_id'][i];
                    cell2.innerHTML = data['final_open_data']['tradingsymbol'][i];
                    cell3.innerHTML = data['final_open_data']['producttype'][i];
                    cell4.innerHTML = data['final_open_data']['price'][i];
                    cell5.innerHTML = data['final_open_data']['transactiontype'][i];
                    cell6.innerHTML = data['final_open_data']['quantity'][i];
                    cell7.innerHTML = data['final_open_data']['lotsize'][i];
                    cell8.innerHTML = data['final_open_data']['symboltoken'][i];
                    cell9.innerHTML = data['final_open_data']['instrumenttype'][i];
                    cell10.innerHTML = data['final_open_data']['orderid'][i];
                }
            }else{
                  var tableBody = document.getElementById("final_open_data-table-body");
                  var row = document.createElement("tr");
                  var cell = document.createElement("td");
                  cell.colSpan = 10;
                  cell.innerHTML = "No records found";
                  row.appendChild(cell);
                  row.style.textAlign = "center";
                  tableBody.appendChild(row);
            }
        }else{
              var tableBody = document.getElementById("final_open_data-table-body");
              var row = document.createElement("tr");
              var cell = document.createElement("td");
              cell.colSpan = 10;
              cell.innerHTML = "No records found";
              row.appendChild(cell);
              row.style.textAlign = "center";
              tableBody.appendChild(row);
        }

        if (typeof data['final_stoploss_data']['Client_id'] !== 'undefined') {

            if(Object.keys(data['final_stoploss_data']['Client_id']).length !== 0){
                // Add the new data to the table
                for (var i = 0; i < Object.keys(data['final_stoploss_data']['Client_id']).length; i++) {
                    var row = table3.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    var cell7 = row.insertCell(6);
                    var cell8 = row.insertCell(7);
                    var cell9 = row.insertCell(8);
                    var cell10 = row.insertCell(9);
                    cell1.innerHTML = data['final_stoploss_data']['Client_id'][i];
                    cell2.innerHTML = data['final_stoploss_data']['tradingsymbol'][i];
                    cell3.innerHTML = data['final_stoploss_data']['producttype'][i];
                    cell4.innerHTML = data['final_stoploss_data']['price'][i];
                    cell5.innerHTML = data['final_stoploss_data']['transactiontype'][i];
                    cell6.innerHTML = data['final_stoploss_data']['quantity'][i];
                    cell7.innerHTML = data['final_stoploss_data']['lotsize'][i];
                    cell8.innerHTML = data['final_stoploss_data']['symboltoken'][i];
                    cell9.innerHTML = data['final_stoploss_data']['instrumenttype'][i];
                    cell10.innerHTML = data['final_stoploss_data']['orderid'][i];
                }
            }else{
                  var tableBody = document.getElementById("final_stoploss_data-table-body");
                  var row = document.createElement("tr");
                  var cell = document.createElement("td");
                  cell.colSpan = 10;
                  cell.innerHTML = "No records found";
                  row.style.textAlign = "center";
                  row.appendChild(cell);
                  tableBody.appendChild(row);

            }
        }else{
              var tableBody = document.getElementById("final_stoploss_data-table-body");
              var row = document.createElement("tr");
              var cell = document.createElement("td");
              cell.colSpan = 10;
              cell.innerHTML = "No records found";
              row.style.textAlign = "center";
              row.appendChild(cell);
              tableBody.appendChild(row);
        }

        if (typeof data['final_completed_orders']['Client_id'] !== 'undefined'){

            if(Object.keys(data['final_completed_orders']['Client_id']).length !== 0){

                // Add the new data to the table
                for (var i = 0; i < Object.keys(data['final_completed_orders']['Client_id']).length; i++) {
                    var row = table4.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    var cell7 = row.insertCell(6);
                    var cell8 = row.insertCell(7);
                    var cell9 = row.insertCell(8);
                    var cell10 = row.insertCell(9);
                    cell1.innerHTML = data['final_completed_orders']['Client_id'][i];
                    cell2.innerHTML = data['final_completed_orders']['tradingsymbol'][i];
                    cell3.innerHTML = data['final_completed_orders']['producttype'][i];
                    cell4.innerHTML = data['final_completed_orders']['price'][i];
                    cell5.innerHTML = data['final_completed_orders']['transactiontype'][i];
                    cell6.innerHTML = data['final_completed_orders']['quantity'][i];
                    cell7.innerHTML = data['final_completed_orders']['lotsize'][i];
                    cell8.innerHTML = data['final_completed_orders']['symboltoken'][i];
                    cell9.innerHTML = data['final_completed_orders']['instrumenttype'][i];
                    cell10.innerHTML = data['final_completed_orders']['orderid'][i];
                }
            }else{
                  var tableBody = document.getElementById("final_completed_orders-table-body");
                  var row = document.createElement("tr");
                  var cell = document.createElement("td");
                  cell.colSpan = 10;
                  cell.innerHTML = "No records found";
                  row.style.textAlign = "center";
                  row.appendChild(cell);
                  
                  tableBody.appendChild(row);
            }
        }else{
              var tableBody = document.getElementById("final_completed_orders-table-body");
              var row = document.createElement("tr");
              var cell = document.createElement("td");
              cell.colSpan = 10;
              cell.innerHTML = "No records found";
              row.style.textAlign = "center";
              row.appendChild(cell);
              
              tableBody.appendChild(row);
        }

        if (typeof data['final_closed_positions']['Client_id'] !== 'undefined'){
            if(Object.keys(data['final_closed_positions']['Client_id']).length !== 0){
                // Add the new data to the table
                for (var i = 0; i < Object.keys(data['final_closed_positions']['Client_id']).length; i++) {
                    var row = table5.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    var cell7 = row.insertCell(6);
                    var cell8 = row.insertCell(7);
                    var cell9 = row.insertCell(8);
                    cell1.innerHTML = data['final_closed_positions']['Client_id'][i];
                    cell2.innerHTML = data['final_closed_positions']['tradingsymbol'][i];
                    cell3.innerHTML = data['final_closed_positions']['producttype'][i];
                    cell4.innerHTML = data['final_closed_positions']['netqty'][i];
                    cell5.innerHTML = data['final_closed_positions']['lotsize'][i];
                    cell6.innerHTML = data['final_closed_positions']['netprice'][i];
                    cell7.innerHTML = data['final_closed_positions']['pnl'][i];
                    cell8.innerHTML = data['final_closed_positions']['ltp'][i];
                    cell9.innerHTML = data['final_closed_positions']['close'][i];
                }
            }else{
                  var tableBody = document.getElementById("final_closed_positions-table-body");
                  var row = document.createElement("tr");
                  var cell = document.createElement("td");
                  cell.colSpan = 10;
                  cell.innerHTML = "No records found";
                  row.style.textAlign = "center";
                  row.appendChild(cell);

                  tableBody.appendChild(row);
            }
        }else{
              var tableBody = document.getElementById("final_closed_positions-table-body");
              var row = document.createElement("tr");
              var cell = document.createElement("td");
              cell.colSpan = 10;
              cell.innerHTML = "No records found";
              row.style.textAlign = "center";
              row.appendChild(cell);

              tableBody.appendChild(row);
        }


        
    });
}
    </script>
  </body>
</html>

 {% endblock %}
