
{% extends "header.html" %}

{% block title %}Company Overview - TED{% endblock %}

{% block content %}

<html>
<head>
    <title>My Flask App</title>
    <style>
        .infobox {
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
    <style>
        /* styling for the table */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }


    </style>
    <script>
        $(document).ready(function() {
            $("#myTab li").click(function() {
                // debugger;
                var tabName = $(this).find("a").attr("href");
                var selected_stock = document.getElementById('stock_input').value;
                $.ajax({
                    type: "POST",
                    url: "/get_infobox_data",
                    contentType: "application/json",
                    data: JSON.stringify({ tabName: tabName,selected_stock:selected_stock }),
                    success: function(data) {
                        debugger;
                        if (data.tabName == '#valuation') {
                            $('#market_cap').find('h4').text('Market Cap ');
                            $('#market_cap').find('p').text(data['valuation_info']['data']['MKTCAP']);

                            $('#current_pe').find('h4').text('Current P/E ');
                            $('#current_pe').find('p').text(data['valuation_info']['data']['PECONS']);

                            $('#industry_pe').find('h4').text('Industry P/E ');
                            $('#industry_pe').find('p').text(data['valuation_info']['data']['IND_PE']);

                            $('#price_book').find('h4').text('Price/Book ');
                            $('#price_book').find('p').text((data['valuation_info']['data']['pricecurrent']/data['valuation_info']['data']['BV']));

                            $('#eps_ttm').find('h4').text('EPS (TTM) ');
                            $('#eps_ttm').find('p').text(data['valuation_info']['data']['sc_ttm_cons']);

                            $('#face_value').find('h4').text('Face Value (Rs) ');
                            $('#face_value').find('p').text(data['valuation_info']['data']['FV']);

                            $('#divident').find('h4').text('DIVIDEND (%) ');
                            $('#divident').find('p').text(data['valuation_info']['data']['DYCONS']);

                            $('#put_call').find('h4').text('PUT/CALL ');
                            $('#put_call').find('p').text(data['valuation_info']['data']['P_C']);

                            $('#deliverables').find('h4').text('DELIVERABLES (%) ');
                            $('#deliverables').find('p').text(data['valuation_info']['data']['DELV']);

                            $('#delivery_avg_3_days').find('h4').text('3 DAY DELIVERY AVERAGE % ');
                            $('#delivery_avg_3_days').find('p').text(data['valuation_info']['data']['AvgDelVolPer_3day']);

                            $('#delivery_avg_5_days').find('h4').text('5 DAY DELIVERY AVERAGE % ');
                            $('#delivery_avg_5_days').find('p').text(data['valuation_info']['data']['AvgDelVolPer_5day']);

                            $('#delivery_avg_8_days').find('h4').text('8 DAY DELIVERY AVERAGE % ');
                            $('#delivery_avg_8_days').find('p').text(data['valuation_info']['data']['AvgDelVolPer_8day']);
                        }else if ( data.tabName ==  "#price_and_returns"){

                            $('#price_chart').html(data.html);
                            // Configure the chart size
                            var chart_width = $('#price_chart').width();
                            var chart_height = chart_width * 0.6;
                            $('#price_chart .js-plotly-plot').css('height', chart_height);

                            

                            $('#stock_returns').html(data.stock_returns);
                            // Configure the chart size
                            var chart_width = $('#stock_returns').width();
                            var chart_height = chart_width * 0.6;
                            $('#stock_returns .js-plotly-plot').css('height', chart_height);

                        }else if ( data.tabName ==  "#historic_data"){
                            $('#historical_signals').html(data.chart);
                            // Configure the chart size
                            var chart_width = $('#historical_signals').width();
                            var chart_height = chart_width * 0.6;
                            $('#historical_signals .js-plotly-plot').css('height', chart_height);
                        }else if ( data.tabName ==  "#news_data"){
                            debugger;
                            var money_control_data = data.news_data.money_control_news;
                            var economic_times_news_data = data.news_data.economic_times_news_data;
                            var live_mint_data = data.news_data.live_mint_news_data;

                            // Display money control news data
                            var money_control_table_body = $('#money-control-table-body');
                            money_control_table_body.empty();
                            $.each(money_control_data.Headline, function(index, value) {
                                var row = $('<tr>');
                                row.append($('<td>').html(value));
                                row.append($('<td>').html('<a href="' + money_control_data.Link[index] + '">' + money_control_data.Link[index] + '</a>'));
                                row.append($('<td>').html(money_control_data.entities[index]));
                                row.append($('<td>').html(money_control_data.spacy_sentiment[index]));
                                row.append($('<td>').html(money_control_data.spacy_polarity[index]));
                                row.append($('<td>').html(money_control_data.spacy_pos_words[index]));
                                row.append($('<td>').html(money_control_data.spacy_neg_words[index]));
                                row.append($('<td>').html(money_control_data.nltk_sentiment[index]));
                                row.append($('<td>').html(money_control_data.nltk_neg[index]));
                                row.append($('<td>').html(money_control_data.nltk_neu[index]));
                                row.append($('<td>').html(money_control_data.nltk_pos[index]));
                                row.append($('<td>').html(money_control_data.nltk_compound[index]));
                                // row.append($('<td>').html(money_control_data.amazon_sentiment_scores[index]));
                                row.append($('<td>').html(money_control_data.finbert_sentiment[index]));

                                money_control_table_body.append(row);
                            });

                            // Display money control news data
                            var economic_times_table_body = $('#economic-times-table-body');
                            economic_times_table_body.empty();
                            $.each(economic_times_news_data.Headline, function(index, value) {
                                var row = $('<tr>');
                                row.append($('<td>').html(value));
                                row.append($('<td>').html('<a href="' + economic_times_news_data.Link[index] + '">' + economic_times_news_data.Link[index] + '</a>'));
                                economic_times_table_body.append(row);
                            });
                            
                            // Display live mint news data
                            var live_mint_table_body = $('#live-mint-table-body');
                            live_mint_table_body.empty();
                            $.each(live_mint_data.Headline, function(index, value) {
                                var row = $('<tr>');
                                row.append($('<td>').html(value));
                                row.append($('<td>').html('<a href="' + live_mint_data.Link[index] + '">' + live_mint_data.Link[index] + '</a>'));
                                live_mint_table_body.append(row);
                            });


                        }else{

                        }

                        // $('#market_cap').text(data['valuation_info']['data']['MKTCAP']);
                        // $('#current_pe').text(data['valuation_info']['data']['PECONS']);
                        // $('#industry_pe').text(data['valuation_info']['data']['IND_PE']);
                        // $('#price_book').text((data['valuation_info']['data']['pricecurrent']/data['valuation_info']['data']['BV']));
                        // $('#eps_ttm').text(data['valuation_info']['data']['sc_ttm_cons']);
                        // $('#face_value').text(data['valuation_info']['data']['FV']);
                        // $('#divident').text(data['valuation_info']['data']['DYCONS']);
                        // $('#put_call').text(data['valuation_info']['data']['P_C']);
                        // $('#deliverables').text(data['valuation_info']['data']['DELV']);
                        // $('#delivery_avg_3_days').text(data['valuation_info']['data']['AvgDelVolPer_3day']);
                        // $('#delivery_avg_5_days').text(data['valuation_info']['data']['AvgDelVolPer_5day']);
                        // $('#delivery_avg_8_days').text(data['valuation_info']['data']['AvgDelVolPer_8day']);

                        // $(tabName).html(data.valuation_info);

                        
                    }
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
          document.getElementById("analyze-button").addEventListener("click", function() {
            // get data from table
            var tableRows = document.querySelectorAll("#money-control-data-table tbody tr");
            var data = [];
            for (var i = 0; i < tableRows.length; i++) {
                var row = tableRows[i];
                var headline = row.cells[0].textContent.trim();
                var link = row.cells[1].textContent.trim();
                data.push({headline: headline, link: link});
            }
            // var economicTimesData = getDataFromTable("economic-times-data-table");
            // var liveMintData = getDataFromTable("live-mint-data-table");

            // call python function with data
            $.ajax({
              url: "/get_sentiment_analysis",
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify({
                data: data
                // economicTimesData: economicTimesData,
                // liveMintData: liveMintData
              }),
              success: function(data) {
                console.log(data);
                // update table with sentiment analysis results
                updateTable(data);
              },
              error: function(xhr, status, error) {
                console.log(error);
              }
            });
          });
        });


         // document.getElementById("analyze-button").addEventListener("click", function() {
         //        // Get the data from the table
         //        var tableRows = document.querySelectorAll("#money-control-data-table tbody tr");
         //        var data = [];
         //        for (var i = 0; i < tableRows.length; i++) {
         //            var row = tableRows[i];
         //            var headline = row.cells[0].textContent.trim();
         //            var link = row.cells[1].textContent.trim();
         //            data.push({headline: headline, link: link});
         //        }

         //        // Send the data to the server
         //        var xhr = new XMLHttpRequest();
         //        xhr.open("POST", "/get_sentiment_analysis");
         //        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
         //        xhr.send(JSON.stringify(data));
         //    });

        // function sentimentAnalyzer() {
        //   $.ajax({
        //     url: "/get_sentiment_analysis",
        //     type: "POST",
        //     success: function(data) {
        //         console.log("Success")
        //       // Update the table with the returned data
        //       // $("#money-control-table-body").html(data);
        //     },
        //     error: function(xhr, status, error) {
        //       console.log(error);
        //     }
        //   });
        // }
    </script>
</head>
<body>
    <div class="row">
            <div class="col-md-4">
                <select class="form-control" id="stock_input" name="stock_input">
                    {% for ticker in tickers %}
                        <option value="{{ ticker }}">{{ ticker }}</option>
                    {% endfor %}
                </select>
                <!-- <select class="form-control" id="stock_input" name="stock_input">
                    <option value="RELIANCE.NS">RELIANCE.NS</option>
                    <option value="SBIN.NS">SBIN.NS</option>
                    <option value="DRREDDY.NS">DRREDDY.NS</option>
                    <option value="UBER">UBER</option>
                    <option value="GOOG">GOOG</option>
                    <option value="AAPL">AAPL</option>
                </select> -->
            </div>
    </div>
    <div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="valuation-tab" data-toggle="tab" href="#valuation" role="tab" aria-controls="valuation" aria-selected="false">Valuation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="price-and-returns-tab" data-toggle="tab" href="#price_and_returns" role="tab" aria-controls="price_and_returns" aria-selected="false">Price And Returns</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="historic-data-tab" data-toggle="tab" href="#historic_data" role="tab" aria-controls="historic_data" aria-selected="false">Historical Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="news-data-tab" data-toggle="tab" href="#news_data" role="tab" aria-controls="news_data" aria-selected="false">News Data</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <h2>Overview Tab Content</h2>
        </div>

        <div class="tab-pane fade" id="valuation" role="tabpanel" aria-labelledby="valuation-tab">
            <div class="row">
                <div class="col-md-4">
                    <div class="infobox text-center" id="market_cap">
                        <a data-toggle="tab" href="#market_cap_tab">
                            <h4>Market Cap</h4>
                            <p>Market capitalization of the selected stock.</p>
                        </a>
                    </div>
                    <div class="infobox text-center" id="current_pe">
                        <a data-toggle="tab" href="#current_pe_tab">
                            <h4>Current P/E</h4>
                            <p>Current price-to-earnings ratio of the selected stock.</p>
                        </a>
                    </div>
                    <div class="infobox text-center" id="industry_pe">
                        <a data-toggle="tab" href="#industry_pe_tab">
                            <h4>Industry P/E</h4>
                                <p>Industry price-to-earnings ratio of the selected stock.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="infobox text-center" id="price_book">
                        <a data-toggle="tab" href="#price_book_tab">
                            <h4>Price/Book</h4>
                            <p>Price-to-book ratio of the selected stock.</p>
                        </a>
                    </div>
                    <div class="infobox text-center" id="eps_ttm">
                        <a data-toggle="tab" href="#eps_ttm_tab">
                            <h4>EPS (TTM)</h4>
                            <p>Earnings per share of the selected stock over the last 12 months.</p>
                        </a>
                    </div>
                    <div class="infobox text-center" id="face_value">
                        <a data-toggle="tab" href="#face_value_tab">
                            <h4>Face Value (Rs)</h4>
                            <p>The nominal value of the shares of the selected stock.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="infobox text-center" id="divident">
                        <a data-toggle="tab" href="#divident_tab">
                            <h4>DIVIDEND (%)</h4>
                            <p>DIVIDEND (%) of the selected stock.</p>
                        </a>
                    </div>
                    <div class="infobox text-center" id="put_call">
                        <a data-toggle="tab" href="#put_call_tab">
                            <h4>PUT/CALL</h4>
                            <p>PUT/CALL of the selected stock over the last 12 months.</p>
                        </a>
                    </div>
                    <div class="infobox text-center" id="deliverables">
                        <a data-toggle="tab" href="#deliverables_tab">
                            <h4>DELIVERABLES (%)</h4>
                            <p>DELIVERABLES (%) of the shares of the selected stock.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="infobox text-center" id="delivery_avg_3_days">
                        <a data-toggle="tab" href="#delivery_avg_3_days_tab">
                            <h4>3 DAY DELIVERY AVERAGE %</h4>
                            <p>3 DAY DELIVERY AVERAGE % of the shares of the selected stock.</p>
                        </a>
                    </div>
                    <div class="infobox text-center" id="delivery_avg_5_days">
                        <a data-toggle="tab" href="#delivery_avg_5_days_tab">
                            <h4>5 DAY DELIVERY AVERAGE %</h4>
                            <p>5 DAY DELIVERY AVERAGE % of the shares of the selected stock.</p>
                        </a>
                    </div>
                    <div class="infobox text-center" id="delivery_avg_8_days">
                        <a data-toggle="tab" href="#delivery_avg_8_days_tab">
                            <h4>8 DAY DELIVERY AVERAGE %</h4>
                            <p>8 DAY DELIVERY AVERAGE % of the shares of the selected stock.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="market_cap_tab" class="tab-pane fade show active" role="tabpanel" aria-labelledby="market_cap-tab">
                    <h2>Valuation Tab Content</h2>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="price_and_returns" role="tabpanel" aria-labelledby="price-and-returns-tab">
            <h2>Price and Returns Tab Content</h2>
            <h4 align="center">Price Chart</h4>
            <div id="price_chart"></div>
            <h4 align="center">Stock Returns</h4>
            <div id="stock_returns"></div>
        </div>

        <div class="tab-pane fade" id="historic_data" role="tabpanel" aria-labelledby="historic-data-tab">
            <h4 align="center">Last one year Price</h4>
            <div id="historical_signals"></div>
        </div>
        <div class="tab-pane fade" id="news_data" role="tabpanel" aria-labelledby="news-data-tab">
            <button id="analyze-button">Implement ML Sentiment Analysis</button>
            <h4 align="center">Money Control News</h4>
            <table id="money-control-data-table">
            <thead>
                <tr>
                    <th>Headline</th>
                    <th>Link</th>
                    <th>entities</th>
                    <th>spacy_sentiment</th>
                    <th>spacy_polarity</th>
                    <th>spacy_pos_words</th>
                    <th>spacy_neg_words</th>
                    <th>nltk_sentiment</th>
                    <th>nltk_neg</th>
                    <th>nltk_neu</th>
                    <th>nltk_pos</th>
                    <th>nltk_compound</th>
                    <!-- <th>amazon_sentiment_scores</th> -->
                    <th>finbert_sentiment</th>
                </tr>
            </thead>
            <tbody id="money-control-table-body">
            </tbody>
            </table>

            <table id="economic-times-data-table">
            <thead>
                <tr>
                    <th>Headline</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody id="economic-times-table-body">
            </tbody>
            </table>

            <h4 align="center">Live mint News</h4>
            <table id="live-mint-data-table">
            <thead>
                <tr>
                    <th>Headline</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody id="live-mint-table-body">
            </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>


{% endblock %}

 {% block footer %}{% endblock %}