{% extends "header.html" %}

{% block title %}Company Overview - TED{% endblock %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>stock-graph</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- <script src="hhttps://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <style type="text/css">
            .header{
                text-align: center;
                background-color: rgb(136, 185, 229);
                height: 70px;
                line-height: 70px;
            }
            .chart{
                margin-top: 30px;
                text-align: center;
            }
        </style>
</head>

<body>
    <div class="container-fluid">

        <form id="date-form">
            Start Date: <input type="date" id="start-date" name="start_date">
            End Date: <input type="date" id="end-date" name="end_date">
            <!-- <input type="button" value="Update Chart" onclick="refreshChart()"> -->
            <input type="button" value="Update Chart" id="update-button">
        </form>

        <h4 align="center">FII And DII Index Data</h4>

        <div id="index_plot"></div>

        <h4 align="center">FII And DII Options Data</h4>

        <div id="options_plot"></div>

        <!-- <div id="chart-container"></div>
        <script>
            var chart_html = "{{ chart_html|safe }}";
        </script> -->
        <!-- <div id="chart">
            {{ index_plot|safe }}
        </div>
        <br/>
        <br/>
        <div id="chart2">
            {{ options_plot|safe }}
        </div> -->
        <!-- <div id="chart" class="chart">
        </div> -->
        <!-- <div style="height: 300px;" id="graph" /> -->
        <!-- <div style="height: 300px;" id="s_and_p_graph" /> -->


    </div>
</body>


<script>
    window.onload = function() {
            document.getElementById("start-date").value = '{{ start_date }}';
            document.getElementById("end-date").value = '{{ end_date }}';
        }

    $(document).ready(function() {
        $("#update-button").click(function() {
            var current_start_date = $("#start-date").val();
            var current_end_date = $("#end-date").val();

            $.ajax({
                type: "POST",
                url: "/get-fii-dii-data",
                contentType: "application/json",
                data: JSON.stringify({ current_start_date: current_start_date, current_end_date: current_end_date }),
                success: function(data) {
                    // debugger;

                    var obj = JSON.parse(data['chartHtml1']);
                    var obj2 = JSON.parse(data['chartHtml2']);

                    Plotly.newPlot("index_plot", obj.data, obj.layout);
                    Plotly.newPlot("options_plot", obj2.data, obj2.layout);
                }
            });
        });
    });

    // function refreshChart() {

    //     // Get the selected data
    //     var current_start_date = document.getElementById("start-date").value;
    //     var current_end_date = document.getElementById("end-date").value;

    //     var xhr = new XMLHttpRequest();
    //     xhr.open("POST", "/get-fii-dii-data", true);
    //     xhr.setRequestHeader("Content-Type", "application/json");
    //     xhr.onreadystatechange = function() {
    //         if (xhr.readyState === 4 && xhr.status === 200) {
    //             debugger;
    //             var data = JSON.parse(xhr.responseText);
    //             Plotly.newPlot("chart", data.data, data.layout);
    //         }
    //     };
    //     xhr.send(JSON.stringify({ current_start_date: current_start_date, current_end_date: current_end_date }));

    //     // $.ajax({
    //     //     url: '/get-fii-dii-data',
    //     //     type: 'POST',
    //     //     data: JSON.stringify({'current_start_date': current_start_date,"current_end_date":current_end_date}),
    //     //     contentType: 'application/json',
    //     //     success: function(response) {
    //     //         debugger;
    //     //         var chartHtml1 = response.chartHtml1;
    //     //         var chartHtml2 = response.chartHtml2;

    //     //         var chartContainer = document.getElementById("chart-container");
    //     //         var chartDiv = document.createElement("div");
    //     //         chartDiv.innerHTML = chartHtml1;
    //     //         chartContainer.appendChild(chartDiv);
    //     //     }
    //     // });
    // }


</script>

<!-- <script>
    function apicall(url) {
        $.ajax({
            type:"GET", url:url, 
            success: (data) => { 
                Plotly.newPlot( $("#graph")[0], data );
                // Plotly.newPlot( $("#s_and_p_graph")[0], data );
                // Plotly.newPlot( $("#combined_chart")[0], data );
                
             }
        });
    }
    window.onload = function () {
        apicall("/nasdaq_data");
        // apicall("/s_and_p_data");
        // apicall("/combined_chart")
    }

    // setInterval(function() {apicall("/global_data");},1000);

</script> -->

 {% endblock %}