{% extends "header.html" %}

{% block title %}Company Overview - TED{% endblock %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>stock-graph</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- <script src="hhttps://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <style type="text/css">
            .header{
                text-align: center;
                background-color: rgb(136, 185, 229);
                height: 70px;
                line-height: 70px;
            }
            .chart{
                margin-top: 30px;
                text-align: center;
            }
        </style>
</head>
 <body>

    <form id="date-form">
            Start Date: <input type="date" id="start-date" name="start_date">
            End Date: <input type="date" id="end-date" name="end_date">
            <!-- <input type="button" value="Update Chart" onclick="refreshChart()"> -->
            <input type="button" value="Update Chart" id="update-button">
    </form>

  <h1>{{header}}</h1>

  <h4 align="center">Vix Plot</h4>

  <div id="vix_plot"></div>

  <h4 align="center">Dow Jones</h4>

  <div id="dow_jones_plot"></div>

  <h4 align="center">NASDAQ</h4>

  <div id="nasdaq_plot"></div>

  <h4 align="center">S & P</h4>

  <div id="s_and_p_plot"></div>

  <h4 align="center">Shanghai</h4>

  <div id="shanghai_plot"></div>

  <h4 align="center">Shenzhen</h4>

  <div id="shenzhen_plot"></div>

  <h4 align="center">FTSE</h4>

  <div id="ftse_plot"></div>

  <h4 align="center">CAC</h4>

  <div id="cac_plot"></div>

  <h4 align="center">NIKKEI</h4>

  <div id="nikkei_plot"></div>

  <h4 align="center">Hang Seng</h4>

  <div id="hang_seng_plot"></div>

  <!-- <div id="chart">
            {{ vix_plot|safe }}
  </div>
  <div id="chart">
            {{ dow_jones_plot|safe }}
  </div>
  <div id="chart">
            {{ nasdaq_plot|safe }}
  </div>
  <div id="chart">
            {{ s_and_p_plot|safe }}
  </div>
  <div id="chart">
            {{ shanghai_plot|safe }}
  </div>
  <div id="chart">
            {{ shenzhen_plot|safe }}
  </div>
  <div id="chart">
            {{ ftse_plot|safe }}
  </div>
  <div id="chart">
            {{ cac_plot|safe }}
  </div>
  <div id="chart">
            {{ nikkei_plot|safe }}
  </div>
  <div id="chart">
            {{ hang_seng_plot|safe }}
  </div> -->
  
</body>

<script>
    window.onload = function() {
            document.getElementById("start-date").value = '{{ start_date }}';
            document.getElementById("end-date").value = '{{ end_date }}';
        }

    $(document).ready(function() {
        $("#update-button").click(function() {
            var current_start_date = $("#start-date").val();
            var current_end_date = $("#end-date").val();

            $.ajax({
                type: "POST",
                url: "/update_global_data",
                contentType: "application/json",
                data: JSON.stringify({ current_start_date: current_start_date, current_end_date: current_end_date }),
                success: function(data) {
                    debugger;

                    $("#vix_plot").html(data.vix_plot);
                    $("#dow_jones_plot").html(data.dow_jones_plot);
                    $("#nasdaq_plot").html(data.nasdaq_plot);
                    $("#s_and_p_plot").html(data.s_and_p_plot);
                    $("#shanghai_plot").html(data.shanghai_plot);
                    $("#shenzhen_plot").html(data.shenzhen_plot);
                    $("#ftse_plot").html(data.ftse_plot);
                    $("#cac_plot").html(data.cac_plot);
                    $("#nikkei_plot").html(data.nikkei_plot);
                    $("#hang_seng_plot").html(data.hang_seng_plot);

                    // var obj = JSON.parse(data['chartHtml1']);
                    // var obj2 = JSON.parse(data['chartHtml2']);

                    // Plotly.newPlot("index_plot", obj.data, obj.layout);
                    // Plotly.newPlot("options_plot", obj2.data, obj2.layout);
                }
            });
        });
    });


</script>
 {% endblock %}