<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('company_overview') }}">Company Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('orders_preview') }}">Orders Preview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('technical_preview') }}">Technical Indicators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('options_signals_preview') }}">Options Chain Data</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ url_for('algo_trade') }}">Algo Trades</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ url_for('support_and_resistance') }}">Support and Resistance</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ai_trading') }}">AI Trading</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('open_interest') }}">Open Interest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('max_pain') }}">Max Pain</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('fii_and_dii') }}">FII And DII</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sector_analysis') }}">Sector Annalysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('payoff_chart') }}">Pay Off Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('global_markets') }}">Global Markets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('paper_trading') }}">Paper Trading</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('demand_and_supply') }}">Demand And Supply</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('us_market') }}">United States Markets</a>
          </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('new_link') }}">New Link <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
    </div>
  </nav>