{% extends "header.html" %}

{% block title %}Company Overview - TED{% endblock %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>stock-graph</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container-fluid">

         <div class="container-fluid">
        <h1 align="center">Open Interest for Calls and Puts:</h1>
        <div id="chart" class="chart"></div>

         <h1 align="center">Implied Volatility for Calls and Puts:</h1>
            <div id="chart_iv" class="chart"></div>

            <h1 align="center">Change in Open Interest for Calls and Puts:</h1>
            <div id="chart_coi" class="chart"></div>

            <h1 align="center">Call-Put Ratio for Options:</h1>
            <div id="chart_cpr" class="chart"></div>

            <h1 align="center">Open Interest and Implied Volatility for Calls and Puts:</h1>
            <div id="chart_oi_iv" class="chart"></div>

            <h1 align="center">Heatmap of Open Interest and Implied Volatility:</h1>
            <div id="chart_heatmap" class="chart"></div>

            <div style="height: 300px;" id="oi_nifty" />
        </div>


    </div>
</body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
    // var graphJSON_oi = {{graphJSON_oi | safe}};
    // Plotly.plot('chart_oi',graphJSON_oi,{});
    var graphJSON_iv = {{graphJSON_iv | safe}};
    Plotly.plot('chart_iv',graphJSON_iv,{});     

    var graphJSON_coi = {{graphJSON_coi | safe}};
    Plotly.plot('chart_coi',graphJSON_coi,{});     

    var graphJSON_cpr = {{graphJSON_cpr | safe}};
    Plotly.plot('chart_cpr',graphJSON_cpr,{});     

    var graphJSON_oi_iv = {{graphJSON_oi_iv | safe}};
    Plotly.plot('chart_oi_iv',graphJSON_oi_iv,{});     

    var graphJSON_heatmap = {{graphJSON_heatmap | safe}};
    Plotly.plot('chart_heatmap',graphJSON_heatmap,{});  
</script>


 {% endblock %}

  {% block footer %}{% endblock %}