<div class="tradingview-widget-container">
									<div class="tradingview-widget-container__widget"></div>
									<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
				{
				  "symbols": [
				    {
				      "proName": "FOREXCOM:SPXUSD",
				      "title": "S&P 500"
				    },
				    {
				      "proName": "FOREXCOM:NSXUSD",
				      "title": "Nasdaq 100"
				    },
				    {
				      "description": "NIFTY 50",
				      "proName": "NSE:NIFTY"
				    },
				    {
				      "description": "SENSEX",
				      "proName": "BSE:SENSEX"
				    },
				    {
				      "description": "NIFTY BANK",
				      "proName": "NSE:BANKNIFTY"
				    },
				    {
				      "description": "DOW JONES",
				      "proName": "DJCFD:DJI"
				    },
				    {
				      "description": "ATX",
				      "proName": "INDEX:ATX"
				    },
				    {
				      "description": "BOSVESPA",
				      "proName": "BMFBOVESPA:IBOV"
				    },
				    {
				      "description": "DAX",
				      "proName": "XETR:DAX"
				    },
				    {
				      "description": "EURO STOXX 50",
				      "proName": "CURRENCYCOM:EU50"
				    },
				    {
				      "description": "NIKKEI 225",
				      "proName": "TVC:NI225"
				    },
				    {
				      "description": "SMI",
				      "proName": "SIX:SMI"
				    }
				  ],
				  "showSymbolLogo": true,
				  "colorTheme": "dark",
				  "isTransparent": false,
				  "displayMode": "adaptive",
				  "locale": "in"
				}
			</script>
								</div>